<div id="<%= dom_id person_promotion %>">
  <p>
    <strong>Promotion:</strong>
    <%= person_promotion.promotion_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= person_promotion.person_id %>
  </p>

</div>
